/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import "../../bower_components/reveal.js/css/theme/template/mixins";
@import "../../bower_components/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Paytone+One');

// Override theme settings (see ../../bower_components/reveal.js/css/theme/template/settings.scss)
$backgroundColor: #fff;

$mainColor: #434850;
$headingColor: #333;

$mainFontSize: 38px;
$mainFont: 'Open Sans', sans-serif;
$headingFont: 'Paytone One', 'Open Sans', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;
$linkColor: #5992bf;
$linkColorHover: #396b93;
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
    &, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

// Theme template ------------------------------
@import "../../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal {
    .slide-background {
        video {
            height: auto;
        }
    }

    footer {
      position: fixed;
      top: auto;
      bottom: 1em;
      left: 1em;
      padding: .5em;
      z-index: 100;
      font-size: 0.5em;
      background: rgba(255, 255, 255, 0.7);

      a {
        color: darken($linkColor, 15%);
      }
    }

    output {
        @extend code;
    }
}

.slides {

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.35;

        img {
            border: none;
            box-shadow: none;
            max-width: 50%;
            max-height: 1.5em;
        }

        code {
            text-transform: none;
        }
    }

    a {
        &:hover {
            img {
                box-shadow: none;
            }
        }
    }

    cite {
        display: block;
        margin-top: 1em;
        font-size: .8em;
    }

    .slides-link {
        display: block;
        margin-top: 1em;
        font-size: .86em;
        white-space: nowrap;
        + .slides-link {
            margin-top: 0;
        }
    }

    dl {
        width: 100%;
        margin: 0;

        dt {
            clear: both;
            float: left;
            width: 35%;
            font-family: $headingFont;
            text-align: right;
        }

        dd {
            clear: right;
            float: right;
            width: calc(65% - 40px);

            + dt, + dd {
                margin-top: .5em;
            }
        }

        dd + dt,
        dd + dt + dd {
            margin-top: .5em;
        }
    }

    .seamless {
        &, img {
            background: none;
            border: none;
            box-shadow: none;
        }
    }

    .no-text-transform {
        text-transform: none;
    }

    .title-slide {
        h1 {
            font-size: $heading2Size;
            margin-bottom: 2em;
        }
    }

    .intro-slide & {
        zoom: 0 !important;
        perspective: none;

        .intro-slide {
            position: fixed;
            left: 0;
            top: 0 !important;
            right: 0;
            bottom: 0;
            background: url('../../resources/phptek18/sponsors.jpg') center bottom no-repeat #ffd920;
            background-size: contain;
            animation-name: eventSlides;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 10s;
            animation-direction: alternate;
        }
    }
}

@keyframes eventSlides {
  0%   { opacity: 0; }
  49%  { opacity: 0; }
  51%  { opacity: 1; }
  100% { opacity: 1; }
}
